* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e9e2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
    background-color: #afcaa8;
    box-shadow: 0px 20px 0px 0px #819b7a;
    border-top: #dce9d8 solid 5px;
    border-right: #dce9d8 solid 5px;
    border-radius: 25px;
    min-height: 50%;
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;

}

#display {
    overflow:visible;
    font-size: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 0 10px 10px 0;
    height: 100px;
    border-radius: 7px;
    border-top: #292929 10px solid;
    border-left: #292929 10px solid;
    margin-bottom: 10px;
    background-color: rgb(73, 73, 73);
    color: rgb(255, 255, 255);
}

.buttons {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.buttons-1,.buttons-2,.buttons-3,.buttons-4{
    display: flex;
    width: 100%;
    height: 100%;
}

.buttons button {
    flex: 1;
    cursor: pointer;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    background-color: #f8ca65;
    border-bottom: 3px solid #aa8943;
    /* width: 60px; */
    /* height: 60px; */
    margin: 5px;
    
}

.operator{
    background-color: #f8b865 !important;
}

#equals {
    background-color: #f8a065;
    border-bottom: 3px solid #d17c55;
}

#clear {
    position: absolute;
    right: 30px;
    bottom: 13px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: #e64343;
}

.red{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #e64343;
}
.reset{
    position: absolute;
    text-align:start;
    gap: 10px;
    bottom:0;
    display: flex;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 20px;
}


.number {
    transition: transform 0.2s ease; 
}

button.clicked {
    transform: translateY(3px);
}